# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
# /out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
out/404.html
out/app_hygiene.html
out/availability-dashboard.html
out/aws_console.html
out/aws.jpg
out/aws.webp
out/bmd.html
out/card.css
out/charts.css
out/icon-aig-logo-white.png
out/index.html
out/index.txt
out/it-incident.html
out/kpi.html
out/rfb.html
out/state.html
out/style.css
out/_next/static/chunks/00cbbcb7-20626bd84cbcbe83.js
out/_next/static/chunks/8.7ee5ab8c72d99800.js
out/_next/static/chunks/31-3c318b2eca3bc6c0.js
out/_next/static/chunks/80.d56f59b591a267eb.js
out/_next/static/chunks/596-f823efa8b24e01e6.js
out/_next/static/chunks/3975359d.e492dc6a533525ab.js
out/_next/static/chunks/e37a0b60.fbad14e869ec8812.js
out/_next/static/chunks/fd9d1056-f155790ab36f8d6f.js
out/_next/static/chunks/framework-8883d1e9be70c3da.js
out/_next/static/chunks/main-0e2c42e5f6ef5590.js
out/_next/static/chunks/main-app-a0a7287b8af9d69b.js
out/_next/static/chunks/polyfills-78c92fac7aa8fdd8.js
out/_next/static/chunks/webpack-dd53e52cd0e18cba.js
out/_next/static/chunks/app/layout-8f98ffc45e10c858.js
out/_next/static/chunks/app/(pages)/page-6815efbbf32aac7a.js
out/_next/static/chunks/pages/_app-52924524f99094ab.js
out/_next/static/chunks/pages/_error-c92d5c4bb2b49926.js
out/_next/static/css/2c1d032feccaff2e.css
out/_next/static/css/7ec2a2d34027f89a.css
out/_next/static/css/ec62eb7e3143c1f3.css
out/_next/static/media/2aaf0723e720e8b9-s.p.woff2
out/_next/static/media/9c4f34569c9b36ca-s.woff2
out/_next/static/media/ae9ae6716d4f8bf8-s.woff2
out/_next/static/media/b1db3e28af9ef94a-s.woff2
out/_next/static/media/b967158bc7d7a9fb-s.woff2
out/_next/static/media/c0f5ec5bbf5913b7-s.woff2
out/_next/static/media/d1d9458b69004127-s.woff2
out/_next/static/p_b9ktioI0cP_TpnXYLdV/_buildManifest.js
out/_next/static/p_b9ktioI0cP_TpnXYLdV/_ssgManifest.js
out/css/header.css
out/css/style.css
out/fonts/ChailceNogginRegular-2OXoW.ttf
out/next/static/NowAnxQQ9bqEsotlLSULf/_buildManifest.js
out/next/static/NowAnxQQ9bqEsotlLSULf/_ssgManifest.js
out/next/static/chunks/80.d56f59b591a267eb.js
out/next/static/chunks/596-f823efa8b24e01e6.js
out/next/static/chunks/728-491fe80702473a79.js
out/next/static/chunks/3975359d.e492dc6a533525ab.js
out/next/static/chunks/fd9d1056-f155790ab36f8d6f.js
out/next/static/chunks/framework-8883d1e9be70c3da.js
out/next/static/chunks/main-0e2c42e5f6ef5590.js
out/next/static/chunks/main-app-7463de3899ca2117.js
out/next/static/chunks/polyfills-78c92fac7aa8fdd8.js
out/next/static/chunks/webpack-86dbd78398da5c26.js
out/next/static/chunks/app/layout-3a5536caa6c9122d.js
out/next/static/chunks/app/page-147268de5b21a38f.js
out/next/static/chunks/pages/_app-52924524f99094ab.js
out/next/static/chunks/pages/_error-c92d5c4bb2b49926.js
out/next/static/css/2c1d032feccaff2e.css
out/next/static/css/3c44d0ea69d58d4c.css
out/next/static/css/afe81d7a746ce9f3.css
out/next/static/media/2aaf0723e720e8b9-s.p.woff2
out/next/static/media/9c4f34569c9b36ca-s.woff2
out/next/static/media/ae9ae6716d4f8bf8-s.woff2
out/next/static/media/b1db3e28af9ef94a-s.woff2
out/next/static/media/b967158bc7d7a9fb-s.woff2
out/next/static/media/c0f5ec5bbf5913b7-s.woff2
out/next/static/media/d1d9458b69004127-s.woff2
out.zip
