.cards {
  background-color: #30384f !important;
  border-radius: 8px;
  box-shadow: var(--base);
  /* height: 294px; */
  position: relative;
  /* width: 693px; */
  font-family: "DM Sans-Bold", Helvetica
}
